
body{
  margin: 20px;
}
.red{
  color: red;
}


.rey{
  border-radius: 10px;
  border: 1px solid rgb(228, 61, 61);
  padding: 12px;
  margin-bottom: 10px;
  background-color: rgb(255, 236, 67);
    
}
#root{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-column-gap:10px;
}
img{
  width: 100%;
}
h1{
  width: 100%;
}